---
import { MAIN__TAG__ANIMATION__NAME } from '@/constants/viewTransitions'
import Layout from '@/layouts/Layout.astro'
import homeJSON from '@/i18n/pages/Home.json'

---

<Layout 
	title={homeJSON.es.seo.title}
	description={homeJSON.es.seo.description}
	activeLink='Home'
>
	<main transition:name={MAIN__TAG__ANIMATION__NAME}>
		
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		min-height: 100svh;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
