.information-dialog {
   width: 100vh;
   height: 100%;
   justify-content: center;
   align-items: center;
   border: none;
   margin: 0 auto;
   background-color: transparent;
   animation: fade-in var(--animation-properties);

   &::backdrop {
      opacity: 0.1;
      background-color: var(--state-layer-color);
   }

   &[open] {
      display: flex;
   }
}

.information-card {
   display: flex;
   flex-direction: column;
   gap: 12px;
   max-width: 360px;
   background-color: var(--background);
}

@keyframes fade-in {
   0% {
      transform: scale(0.3%);
   }
}