body:has(.information-dialog[open]) {
   overflow-y: hidden;
}

.information-dialog {
   width: 100vh;
   height: 100%;
   justify-content: center;
   align-items: center;
   border: none;
   margin: 0 auto;
   background-color: transparent;
   animation: fade-out 380ms ease-in-out;
   
   &::backdrop {
      opacity: 0.1;
      background-color: var(--state-layer-color);
   }
   
   &[open] {
      display: flex;
      animation: fade-in 420ms ease-in;
   }
}

.information-card {
   display: flex;
   flex-direction: column;
   gap: 12px;
   max-width: 360px;
   background-color: var(--background);
}

@keyframes fade-in {
   0% { transform: scale(0.3%); }
}

@keyframes fade-out {
   from {
      display: flex;
   }

   to { 
      display: none;
      transform: scale(0%);
   }
}