---
import { MAIN__TAG__ANIMATION__NAME } from '@/lib/constants/viewTransitions'
import Layout from '@/layouts/Layout.astro'
import homeJSON from '@/assets/i18n/pages/Home.json'
---

<Layout 
	title={homeJSON.en.seo.title}
	description={homeJSON.en.seo.description}
	activeLink='Home'
>
	<main transition:name={MAIN__TAG__ANIMATION__NAME}>
		<h1>Ordenginering</h1>
		<p>An unnecessary over engineer system to order pizza</p>
	</main>
</Layout>

<style>
	main {
		display: grid;
		place-content: center;
		padding: 16px;
		min-height: 80svh;

		& p {
			font-size: 1.2rem;
		}
	}
</style>
