---
import { MAIN__TAG__ANIMATION__NAME } from '@/lib/constants/viewTransitions'
import Layout from '@/layouts/Layout.astro'
import homeJSON from '@/assets/i18n/pages/Home.json'
---

<Layout 
	title={homeJSON.en.seo.title}
	description={homeJSON.en.seo.description}
	activeLink='Home'
>
	<main transition:name={MAIN__TAG__ANIMATION__NAME}>
		
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
