.select__quantity {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   text-align: center;
   padding-inline: 16px;
   color: var(--background);
   & button {
      width: 100%;
      color: currentColor;
   }
   & .humbleicons {
      color: var(--background);
   }
}