.select-quantity {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   text-align: center;
   color: var(--background);

   & .humbleicons {
      color: var(--background);
   }

   & p{
      width: 100%;
   }

   & button {
      width: 100%;
      height: 100%;
      font-size: 1.25rem;
      color: currentcolor;
      
      &:focus {
         outline: none;
      }

      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         opacity: 0;
         transition: opacity 200ms cubic-bezier(.2,0,0,1);
         background-color: #332E2B;
      }

      &:hover::before {
         opacity: .08;
      }

      &:focus-within::before {
         opacity: .12;
      }
      
      &:disabled {
         color: var(--outline-light);
         cursor: not-allowed;

         & .humbleicons {
            color: var(--outline-light);
         }
      }

      &:first-of-type:has(svg) {
         padding-top: 4px;
      }

      &:first-of-type::before {
         border-radius: 8px 0 0 8px;
      }

      &:last-of-type::before {
         border-radius: 0 8px 8px 0;
      }
   }
}