---
import type { GetStaticPaths, InferGetStaticParamsType } from "astro"
import Layout from "../../layouts/Layout.astro"

export const getStaticPaths = (() => {
	return [
		{ params: { pizza: "pepperoni"} }
	]
}) satisfies GetStaticPaths

type Params = InferGetStaticParamsType<typeof getStaticPaths>

const { pizza } = Astro.params as Params
---

<Layout title={"Customize your pizza"}>
	<main>
		<h1>Customize your pizza</h1>
		<details>
			<summary>Ingredients</summary>
			<label for="pepperoni">
				Pepperoni <input type="checkbox" name="pepperoni" id="pepperoni">
			</label>
		</details>
	</main>
</Layout>


<style>
	main {
		background-color: white;
	}
</style>