:root {
   --background: #FFFFFF;
   --divider: #EDE5E0;
   --surface: #332E2B;
   --surface-40: #332E2B40;
   --primary-interaction: #F55700;
   --secondary-interaction: #A05B34;
   --text-color: #4C3B33;
   --text-light-color: #7B6358;
   --outline: #855A45;
   --outline-light: #F3EBE6;
   --error: #a91313;

   --state-layer-color: #332E2B;

   --shadow-input: #BA9484 0 0 0 3px;
   --shadow-error: #fb361f 0 0 0 3px;
   --shadow-primary-button: #FFBE83 0 0 0 3px;
   --shadow-secondary-button: #E19267 0 0 0 3px;
}

@media (prefers-color-scheme: dark) {
   :root {
      --background: #1C0C02;
      --divider: #381E11;
      --surface: #C2ADA0;
      --surface-40: #C2ADA040;
      --primary-interaction: #FF9D68;
      --secondary-interaction: #B99E8F;
      --text-color: #F1E2DB;
      --text-light-color: #E3CCC1;
      --outline: #CA896A;
      --outline-light: #403D3C;
      --error: #ff756d;
      
      --state-layer-color: #9c6340;
      
      --shadow-input: #E79D7A 0 0 0 3px;
      --shadow-error: #d3605a 0 0 0 3px;
      --shadow-primary-button: #BF6531 0 0 0 3px;
      --shadow-secondary-button: #766A61 0 0 0 3px;
   }
}