@import url('@/styles/color.css');
@import url('@/styles/resets.css');

:root {
   --animation-properties: 0.5s cubic-bezier(.25,0,.3,1) forwards;
}

* {
   scrollbar-color: var(--background) var(--secondary-interaction);
   scrollbar-width: thin;
}
   
body {
   background-color: var(--background);
}

.primary-button,
.secondary-button {
   width: 100%;
   height: 36px;
   border: none;
   border-radius: 8px;
   font-size: 1rem;
   font-weight: 640;
   line-height: 1.5rem; 
   color: var(--background);
   transition: box-shadow 300ms ease-in-out;
   position: relative;

   &:is(a) {
      padding-block: 4px;
      text-align: center;  
   }

   &:focus {
      outline: none;
   }

   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: 8px;
      transition: opacity 200ms cubic-bezier(.2,0,0,1);
      background-color: var(--state-layer-color);
   }

   &:hover:not(:disabled)::before {
      opacity: .08;
   }

   &:focus-within:not(:disabled)::before {
      opacity: .12;
   }

   &:disabled {
      cursor: not-allowed;
      color: var(--outline);
      background-color: var(--divider);
   }
}

/* stylelint-disable-next-line no-descending-specificity */
.primary-button {
   background-color: var(--primary-interaction);

   &:hover, 
   &:focus,
   &:has(button:focus-within) {
      &:not(:disabled) {
         box-shadow: var(--shadow-primary-button);
      }
   }
}

/* stylelint-disable-next-line no-descending-specificity */
.secondary-button {
   background-color: var(--secondary-interaction);

   &:hover, 
   &:focus,
   &:has(button:focus-within) {
      &:not(:disabled) {
         box-shadow: var(--shadow-secondary-button);
      }
   }
}

.user-input {
   display: flex;
   flex-direction: column;
   position: relative;
   gap: 4px;

   & label {
      color: var(--text-color);
      font-weight: 500;
      line-height: 1.25rem;
   }

   & p {
      color: var(--text-light-color);
      font-weight: 300;
      line-height: 1.25rem;
      margin-bottom: 8px;
   }

   &:has(input[aria-invalid="true"]) input + p {
      color: var(--error);
   }

   & input, select {
      appearance: none;
      all: unset;
      font-weight: 300;
      border: none;
      border-radius: 8px;
      padding: 8px 12px;
      outline: 1px solid var(--outline);
      color: var(--text-color);
      background-color: var(--background);
      transition: box-shadow 400ms ease-in-out, 
         outline 400ms ease-in-out,
         background-color 400ms;

      &::placeholder {
         color: var(--surface);
      }

      &:disabled{
         color: var(--outline);
         background-color: var(--divider);

         &::placeholder {
            color: var(--outline);
         }
      }
      
      &:-webkit-autofill:disabled {
         -webkit-text-fill-color: var(--outline);
         /* stylelint-disable-next-line property-no-vendor-prefix */
         -webkit-box-shadow: 0 0 0 1000px var(--divider) inset;
      }

      &:hover:not(:disabled) {
         box-shadow: var(--shadow-input);
      }

      &:focus:not(:disabled) {
         outline: 1px solid var(--background);
         box-shadow: #0498EC 0 0 0 4px;
      }

      &:user-invalid:not(:focus),
      &[aria-invalid="true"]:not(:focus) {
         outline: 1px solid var(--error);

         &:hover {
            box-shadow: var(--shadow-error);
         }
      }
   }
}

.humbleicons {
   width: 24px;
   height: 24px;
}

#no-display {
   display: none;
}