@import url('@/styles/color.css');
@import url('@/styles/resets.css');
@import url('@/styles/button.css');
@import url('@/styles/user-input.css');

* {
   scrollbar-color: var(--background) var(--secondary-interaction);
   scrollbar-width: thin;

   @media (width <= 720px) {
      scrollbar-color: var(--secondary-interaction);
   }
}

body {
   background-color: var(--background);
}

.humbleicons {
   width: 24px;
   height: 24px;
}

#no-display {
   display: none;
}