@import '@/styles/color.css';
@import '@/styles/resets.css';

body {
   background-color: var(--background);
}

.primary--button,
.secondary--button {
   width: 100%;
   height: 36px;
   border: none;
   border-radius: 8px;
   font-size: 1rem;
   font-weight: 640;
   line-height: 1.5rem; 
   color: var(--background);
   transition: box-shadow 300ms ease-in-out;
   position: relative;
   &:is(a) {
      padding-block: 4px;
      text-align: center;  
   }
   &:focus {
      outline: none;
   }
   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: 8px;
      transition: opacity 200ms cubic-bezier(.2,0,0,1);
      background-color: #332E2B;
   }
   &:hover::before {
      opacity: .08;
   }
   &:focus-within::before {
      opacity: .12;
   }
}

.primary--button {
   background-color: var(--primary-interaction);
   &:hover, 
   &:focus,
   &:has(button:focus-within) {
      box-shadow: var(--shadow-primary-button);
   }
}

.secondary--button {
   background-color: var(--secondary-interaction);
   &:hover, 
   &:focus,
   &:has(button:focus-within) {
      box-shadow: var(--shadow-secondary-button);
   }
}

.user__input {
   display: flex;
   flex-direction: column;
   position: relative;
   gap: 4px;
   & label {
      color: var(--text-color);
      font-weight: 500;
      line-height: 1.25rem;
   }
   & p {
      color: var(--text-light-color);
      font-weight: 300;
      line-height: 1.25rem;
   }
   & input, select {
      appearance: none;
      -webkit-appearance: none;
      font-weight: 300;
      border: none;
      border-radius: 8px;
      padding: 8px 12px;
      outline: 1px solid var(--outline);
      color: var(--text-color);
      background-color: var(--background);
      transition: box-shadow 400ms ease-in-out, 
         outline 400ms ease-in-out;
   }
   & input::placeholder {
      color: var(--surface);
   }
   & input:hover,
      select:hover {
      box-shadow: var(--shadow-input);
   }
   & input:focus,
      select:focus {
      outline: 1px solid var(--background);
      box-shadow: #0498EC 0 0 0 4px;
   }
}

.humbleicons {
   width: 24px;
   height: 24px;
}

#no-display {
   display: none;
}