@import '@/styles/color.css';
@import '@/styles/resets.css';

body {
   background-color: var(--background);
}

.primary--button {
   width: 100%;
   height: 36px;
   border: none;
   border-radius: 8px;
   font-size: 1rem;
   font-weight: 640;
   line-height: 1.5rem;
   color: var(--background);
   background-color: var(--primary-interaction);
}

.secondary--button {
   width: 100%;
   height: 36px;
   border: none;
   padding-block: 4px;
   border-radius: 8px;
   font-size: 1rem;
   font-weight: 640;
   line-height: 1.5rem;
   text-align: center;
   color: var(--background);
   background-color: var(--secondary-interaction);
}

.user__input {
   display: flex;
   flex-direction: column;
   position: relative;
   gap: 4px;
   & label {
      color: var(--text-color);
      font-weight: 500;
      line-height: 1.25rem;
   }
   & p {
      color: var(--text-light-color);
      font-weight: 300;
      line-height: 1.25rem;
   }
   & input, select {
      appearance: none;
      -webkit-appearance: none;
      font-weight: 300;
      border: none;
      border-radius: 8px;
      padding: 8px 12px;
      outline: 1px solid var(--outline);
      color: var(--text-color);
      background-color: var(--background);
      transition: box-shadow 400ms ease-in-out;
   }
   & input::placeholder {
      color: var(--surface);
   }
   & input:hover,
      select:hover {
      box-shadow: var(--shadow-input);
   }
   & input:focus,
      select:focus {
      outline: 1px solid var(--background);
      box-shadow: #0498EC 0 0 0 4px;
   }
}

.humbleicons {
   width: 24px;
   height: 24px;
   color: var(--text-color);
}

#no-display {
   display: none;
}