---
import LinksContainer from '@/components/customer/LinksContainer.astro'
import { ShowPastOrders } from '@/components/orders/ShowPastOrders'
import Layout from '@/layouts/Layout.astro'
import { getOrdersByAccount } from '@/services/server/orderApi'
import type { PageOrder, ProfileLinks } from '@/types'

export const prerender = false

const { slug } = Astro.params

if(!Astro.cookies.has('jwt')) return Astro.redirect('/client/login')
if(!slug?.match('[0-9]+\/orders')) return Astro.redirect('/404')

let orders: PageOrder
try {
   orders = await getOrdersByAccount(Number(slug.split('/')[0]), Astro.cookies.get('jwt')?.value, 0)
} catch (error) {   
   console.error(error);
   return Astro.redirect('/client/404')
}

const profileLinks: ProfileLinks[] = [{
   url: '/client/customer/' + slug.split('/')[0],
   name: 'Profile'
}, {
   url: `/client/customer/${slug}`,
   name: 'Orders',
   active: true
}]

---

<Layout title='Customer orders'>
   <main>
      <LinksContainer links={profileLinks} />
      <ShowPastOrders
         client:load
         id={Number(slug.split('/')[0])}
         initialData={{
            content: [orders.content],
            pageNumber: orders.pageable.pageNumber,
            last: orders.last
         }}
      />
   </main>
</Layout>

<style>
   main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
      padding: 16px;
   }
</style>