---
import LinksContainer from '@/components/customer/LinksContainer.astro'
import { ShowPastOrders } from '@/components/pastOrders/ShowPastOrders'
import Layout from '@/layouts/Layout.astro'
import { StatusError } from '@/services/exceptions/StatusError'
import { getRoles } from '@/services/server/jwtServer'
import { getOrdersByAccount } from '@/services/server/orderServer'
import type { CustomerRole, PageOrder } from '@/types'
import { getProfileLinks } from '@/utils/getProfileLinks'

export const prerender = false

const { slug } = Astro.params

if(!Astro.cookies.has('jwt')) return Astro.redirect('/client/login')
if(!slug?.match('[0-9]+\/orders')) return Astro.redirect('/404')

let orders: PageOrder | null
let customerRole: CustomerRole

try {
   customerRole = await getRoles(Astro.cookies.get('jwt')?.value)
} catch (error) {
   console.error(error);
   return Astro.redirect('/client/404')
}

try {
   orders = await getOrdersByAccount(Number(slug.split('/')[0]), Astro.cookies.get('jwt')?.value, 0)
} catch (error) {   
   console.error(error);
   orders = null
}
---

<Layout title='Customer orders'>
   <main>
      <LinksContainer links={getProfileLinks(customerRole.id, customerRole.role, 'ORDER')} />
      {orders !== null ?
         <ShowPastOrders
            client:load
            id={Number(slug.split('/')[0])}
            initialData={{
               content: [orders?.content],
               pageNumber: orders?.pageable.pageNumber,
               last: orders?.last
            }}
         /> :
         <h1>No orders</h1>
      }
   </main>
</Layout>

<style>
   main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
      padding: 16px;
   }
</style>