---
import type { ProfileLinks } from '@/types'
import { getRelativeLocaleUrl } from 'astro:i18n'


interface Props{
   links: ProfileLinks[]
}

const { links } = Astro.props
---

<div>
   {links.map((link) => (
      <a 
         href={getRelativeLocaleUrl(Astro.currentLocale ?? 'en', link.url)}
         class={link?.active ? 'active' : ''} 
      >
         {link.name}
      </a>
   ))}
</div>

<style>
   div {
      display: flex;
      gap: 10px;
      margin: 0 auto;

      & a {
         color: var(--text-color);
      }
      
      & .active {
         border-radius: 4px;
         padding-inline: 8px;
         background-color: var(--outline-light);
         color: var(--text-light-color);
      }
   }
</style>