.order-styles {
   display: flex;
   flex-direction: column;
   padding: 16px;
   gap: 12px;
   container-type: inline-size;

   & h2 {
      font-size: 2rem;
      font-weight: 300;
      color: var(--primary-interaction);
   }

   & a ~ button {
      width: fit-content;
      color: var(--text-light-color);
   }

   & a ~ button:hover {
      text-decoration: underline;
   }

   @container (width < 380px) {
      & .card-separation  {
         grid-template-areas: 
            "image name"
            "image price"
            "ingredient ingredient"
            "button button";
      }
   }
}

.card-separation {
   display: grid;
   grid-template-columns: 112px 1fr;
   grid-template-areas: 
      "image name"
      "image price"
      "image ingredient"
      "button button";
   gap: 4px 12px;

   & img {
      grid-area: image;
      width: 112px;
      height: 112px;
      border-radius: 16px;
      border: 1px solid var(--outline-light);
		box-shadow: var(--surface-40) 0 4px 10px -4px;
   }

   & h3 {
      grid-area: name;
   }

   & p:first-of-type {
      grid-area: price;
   }

   & p:last-of-type {
      grid-area: ingredient;
      width: 100%;
   }

   & .quantity-buttons {
      grid-area: button;
      display: flex;
      justify-content: center;
      margin-top: 8px;
      gap: 12px;
   }
}

.spin {
   width: 56px;
   height: 56px;
   border-style: outset;
   border-width: 4px;
   border-color: brown;
   border-right-color: blue;
   border-radius: 100%;
   animation: spin 1s linear infinite;
}

@keyframes spin {
   100% {
      transform: rotate(360deg);
   }
}