.ingredients-card {
	display: grid;
	grid-template: repeat(3, 1fr) / auto 1fr;
	grid-template-areas: 
		"figure name"
		"figure type"
		"figure author";
	gap: 4px 12px;

	& h3 {
		grid-area: name;
	}

	& h3 span,
	p span {
		color: var(--primary-interaction);
	}
}

.ingredients-image {
	grid-area: figure;
	width: 124px;
	height: 112px;
}