.orders-card {
   width: 100%;
   max-width: 75ch;
   position: relative;

   & div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      pointer-events: none;

      &:first-of-type {
         margin-bottom: 12px;
      }

      & p:first-of-type {
         color: var(--text-color);
      }

      & p:last-of-type {
         color: var(--primary-interaction);
      }
   }

   & a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
}

.spin-container {
   width: 48px;
   height: 48px;
}