---
import { MAIN__TAG__ANIMATION__NAME } from '@/constants/viewTransitions'
import Layout from '@/layouts/Layout.astro'
import type { SeoTranslation } from '@/types'

interface Props {
   t: SeoTranslation
}

const { t } = Astro.props

---

<Layout 
   title={t.title}
   description={t.description}
   activeLink=''
>
   <main transition:name={MAIN__TAG__ANIMATION__NAME}>
      <h1>{t.h1}</h1>
   </main>
</Layout>