---
import verifyTranslation from "@/assets/i18n/pages/Verify.json"
import Layout from "@/layouts/Layout.astro"
import type { LocalesString } from "@/types"

interface Props {
   locale: LocalesString
}

const { locale } = Astro.props
const t = verifyTranslation[locale]

---

<Layout
   title={t.seo.title}
   description={t.seo.description}
   activeLink=""
>
   <script src="@/scripts/showVerifyAccountContent"></script>
   <main>
   </main>
</Layout>

<style>
   main {
      display: grid;
      place-content: center;
      gap: 16px;
      max-width: 50ch;
      margin-inline: auto;
   }
</style>