---
import Layout from "@/layouts/Layout.astro"
---

<Layout
   title="Test"
   description="dsadf"
   activeLink=""
>
   <script src="@/scripts/verifyAccount"></script>
   <main>
   </main>
</Layout>

<style>
   main {
      display: grid;
      place-content: center;
      gap: 16px;
      max-width: 50ch;
      margin-inline: auto;
   }
</style>