---
import type { ActiveLink } from '@/types'
import Layout from './Layout.astro'

interface Props {
	title: string
	description: string
   h1Text?: string
   activeLink?: ActiveLink
}

const { title, description, h1Text, activeLink } = Astro.props
---

<Layout title={title} description={description} activeLink={activeLink ?? ''}>
   <main>
      {h1Text ? <h1>{h1Text}</h1> : null}
      <slot />
   </main>
</Layout>

<script>
   const forms = document.querySelectorAll('form')

   for (const formElement of forms) {
      if (formElement instanceof HTMLFormElement) {
         formElement.addEventListener('submit', (event) => {
            event.preventDefault()
         })
      }
   }
</script>

<style>
   main {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 100%;
      max-width: 80ch;
      margin: 0 auto;
      padding: 16px;
      gap: 20px;
      color: var(--text-color);
      & h1 {
         width: fit-content;
         text-align: start;
      }
      & p {
         width: fit-content;
         font-weight: bold;
      }
   }
</style>