---
import ModalContainer from '@/components/common/ModalContainer.astro';
import { ShoppingCart } from '@/components/order/ShoppingCart'
import '@/styles/index.css'
import { ShowOrder } from '@/components/order/ShowOrders';
import Navbar from '@/components/common/Navbar.astro';

interface Props {
	title: string;
}

const socialLinks = [
	{ name: 'Personal', link: 'https://diegoj4v.github.io/My-website'},
	{ name: 'Github', link: 'https://github.com/DiegoJ4V'},
	{ name: 'LinkedIn', link: 'https://www.linkedin.com/in/diegoj4v/'}
]

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/client/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
		{/*<ViewTransitions fallback='animate' /> */}
	</head>
	<body>
		<Navbar />
		<slot />
		<!-- <footer>
			{socialLinks.map((socialLink) => (
				<a href={socialLink.link}>
					{socialLink.name}
				</a>
			))}			
		</footer> -->
	</body>
</html>

<style is:global>
	body {
		& nav {
			display: flex;
			height: 56px;
			position: sticky;
			top: 0;
			z-index: 2;
			justify-content: space-between;
			padding: 16px 24px;
			background-color: var(--background);
			border-bottom: 1px solid var(--divider);

			& button, a {
				transition: color 350ms;
			}
		}
		& h1 {
			text-align: center;
			font-size: 3rem;
			font-weight: 400;
			line-height: 3.875rem;
			color: var(--primary-interaction);
		}
	}
</style>