.ingredient-buttons {
   display: flex;
   gap: 10px;
   margin: 0 auto;

   & button {
      color: var(--text-color);
   }
   
   & .active {
      border-radius: 4px;
      padding-inline: 8px;
      background-color: var(--outline-light);
      color: var(--text-light-color);
   }
}

.ingredients-card {
   display: grid;
   grid-template: 1fr min-content auto / auto 1fr;
   grid-template-areas: 
      "figure name"
      "figure quantity"
      "figure button";
   gap: 4px 12px;

   & h3 {
      grid-area: name;
      margin: auto 0;
   }
}

.ingredients-image {
   grid-area: figure;
   width: 124px;
   height: 112px;
}