.ingredients-container {
   display: grid;
   width: 100%;
   height: calc(100svh - 120px);
   overflow-y: scroll;
   scrollbar-gutter: auto;
   gap: 12px 16px;
   padding: 16px;
   margin-inline: auto;
   place-content: start;
   grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

   @media (width <= 720px) {
      display: flex;
      flex-direction: column;
      padding: 16px 8px;
   }
}


.ingredients-image {
   grid-area: figure;
   width: 124px;
   height: 112px;
}

.ingredient-buttons {
   display: flex;
   place-content: center;
   gap: 10px;
   margin-bottom: 8px;

   & button {
      color: var(--text-color);
   }
   
   & .active {
      border-radius: 4px;
      padding-inline: 8px;
      background-color: var(--outline-light);
      color: var(--text-light-color);
   }
}

.ingredients-card {
   display: grid;
   grid-template: 1fr min-content auto / auto 1fr;
   grid-template-areas: 
      "figure name"
      "figure quantity"
      "figure button";
   gap: 4px 12px;

   & h3 {
      grid-area: name;
      margin: auto 0;
   }
}