---
import { MAIN__TAG__ANIMATION__NAME } from '@/constants/viewTransitions'
import Layout from '@/layouts/Layout.astro'
---

<Layout 
   title='Resource not found'
   description='The desire resource is not found'
   activeLink=''
>
   <main transition:name={MAIN__TAG__ANIMATION__NAME}>
      <h1>Not found</h1>
   </main>
</Layout>