---
import { CheckoutForm } from '@/components/order/CheckoutForm'
import { SECONDARY__BUTTON } from '@/constants/styles'
import CountryList from '@/data/countries.json'
import FormLayout from '@/layouts/FormLayout.astro'

export const prerender = false

if(!Astro.cookies.has('jwt')) return Astro.redirect('/client/login')
---

<FormLayout title='Checkout order' h1Text='Choose delivery address'>
   <p>* Required field</p>
   <CheckoutForm countryList={CountryList} client:load />
   <a class={SECONDARY__BUTTON} href='/client/menu'>Return to choose</a>
</FormLayout>