---
import { ShowOrders } from "../components/ShowOrders";
import Layout from "../layouts/Layout.astro";

type Inputs = {
   name: string,
   type: astroHTML.JSX.HTMLInputTypeAttribute,
   required?: boolean
}

const locationInputs: Inputs[] = [
   { name: 'Country', type: 'text' },
   { name: 'City', type: 'text' },
   { name: 'Street', type: 'text' },
   { name: 'House number', type: 'number' },
   { name: 'Aparment', type: 'number', required: false },
   { name: 'Floor', type: 'number', required: false },
]

---

<Layout title="Checkout order">
   <main>
      <h1>My order</h1>
      <div>
         <h2>Delivery address</h2>
         <form>
            {locationInputs.map((element) => (
               <label>
                  {element.name}
                  <input 
                     type={element.type}
                     required={element?.required ?? true}
                  >
               </label>
            ))}
            <button>Accept</button>
         </form>
      </div>
      <div>
         <h2>Your order</h2>   
         <ShowOrders client:idle />
      </div>
      <dialog>
         <p>Order made correctly</p>
      </dialog>
   </main>
</Layout>

<script>
   import type { Order } from "../../types"
   import { saveOrder } from "../services/orderService"

   const formulary = document.forms[0]

   formulary.addEventListener('submit', (event) => {
      event.preventDefault()

      if (event.currentTarget instanceof HTMLFormElement) {
         const { elements } = event.currentTarget
         const location: string[] = []
         
         for (const element of elements) {
            if (element instanceof HTMLInputElement && element.value) {
               location.push(element.value);
            }
         }
         
         const order: Order = {
            idCustomer: 1,
            country: location[0],
            city: location[1],
            street: location[2],
            houseNumber: Number(location[3]),
            pizzaList: JSON.parse(localStorage.getItem('allPizza') ?? '')
         }

         saveOrder(order)
            .then((result) => {
               const modal = document.querySelector('dialog')
               if (result) {
                  modal?.showModal()
               }
            })
      }
   })
</script>

<style>
   main {
      display: flex;
      flex-wrap: wrap;
      & h1 {
         display: block;
         width: 100%;
      }
   }
</style>