---
import { Image } from 'astro:assets'
import { FormWrapper } from '../components/FormWrapper'
import Layout from '../layouts/Layout.astro'

/* export const getStaticPaths = (() => {
	return [
		{ params: { pizza: 'pepperoni'} }
	]
}) satisfies GetStaticPaths

type Params = InferGetStaticParamsType<typeof getStaticPaths>

const { pizza } = Astro.params as Params */
---

<Layout title={'Customize your pizza'}>
	<main>
		<h1>Customize your pizza</h1>
		<FormWrapper client:idle />
	</main>
</Layout>


<style>
	main {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 12px 16px;
		gap: 12px;
		background-color: white;
		& h1 {
			width: 100%;
			text-align: center;
		}
	}
</style>