---
import { LogInForm } from '@/components/security/LogInForm'
import FormLayout from '@/layouts/FormLayout.astro'
---

<FormLayout 
   title='Login in to your account'
   description='Put your data to access to your account'
   h1Text='Log in to your account'
>
   <p>
      Don't have an account? 
      <a href='/client/signup'>Sign Up</a>
   </p>
   <LogInForm client:load />
</FormLayout>

<style>
   a {
      color: #016BF8;
   }
</style>