---
import Layout from "../layouts/Layout.astro"
import { AddPizza } from "../components/AddPizza/index.tsx"
import { Size } from "../constants/size";
import { Quantity } from "../constants/quantity";
import CustomSelect from "../components/CustomSelect.astro";

---

<Layout title="Menu page">
	<main>
		<article class="container">
			<img src="https://static.phdvasia.com/br/menu/single/desktop_thumbnail_1b3ba745-698b-4866-aa54-c551cbcff003.jpg" alt="">
			<h2>Pepperoni</h2>
			<p>Peperoni, Mozarella</p>
			<CustomSelect />
			<AddPizza client:only="react" pizza={{
            name: "Pepperoni",
            size: Size.MEDIUM,
            cheese: Quantity.NORMAL,
            ingredients: ["Pepperoni"]
         }} />
			<a class="container" href="/customize">Personalizar</a>
		</article>
	</main>
</Layout>

<style>
	main {
		padding: 12px 16px;
		& article {
			display: flex;
			gap: 8px;
			flex-direction: column;
			width: 320px;
			padding: 12px 16px;
			background-color: #FFC345;
			& img {
				width: 280px;
				aspect-ratio: 4 / 2;
			}
			& h2 {
				text-align: center;
			}
			& p {
				text-align: center;
			}
		}
	}
	
</style>