---
import { Image } from 'astro:assets'
import { AddPizza } from '@/components/AddPizza/index.tsx'
import Layout from '@/layouts/Layout.astro'
import PizzaList from '@/data/pizza.json'
import { Quantity } from '@/constants/quantity';
import { Size } from '@/constants/size';
import { CardContainer } from '@/components/containers/CardContainer.tsx';

---

<Layout title='Menu page'>
	<main>
		<h1>Menu</h1>
		<div>
			{PizzaList.map((pizza, index) => (
				<CardContainer styleClass='card--separation'>
					<>
						<figure>
							<div>
								<Image 
									src={`/client/images/pizza/${pizza.image.url}.jpg`}
									alt={`${pizza.name} pizza`}
									width='280'
									height='220'
									loading={index < 8 ? 'eager' : 'lazy'}
									transition:name={`image-${pizza.name.replace(' ', '-').toLowerCase()}`}
								/>
							</div>
							<figcaption>{pizza.image.author}</figcaption>
						</figure>
						<div class='pizza-information'>
							<h3>{pizza.name}</h3>
							<p class='information--important'>${pizza.ingredients.length * 20}</p>
							<p>{pizza.ingredients.join(', ')}</p>
						</div>
						<div class='buttons-column'>
							<p style='display: none;'>{pizza.ingredients.join(', ')}</p>
							<AddPizza client:idle pizza={{
								pizzaName: pizza.name,
								size: Size.MEDIUM,
								quantity: 1,
								ingredientNameDtoList: pizza.ingredients.map(
									(ingredient) => ({ name: ingredient, quantity: Quantity.NORMAL }))
							}} />
							<a class='secondary--button' href={`/client/customize/${pizza.name.replace(' ', '-').toLowerCase()}`}>Personalizar</a>
						</div>
					</>
				</CardContainer>
			))}
		</div>
	</main>
</Layout>

<style is:global>
	.card--separation {
		display: flex;
		max-width: 340px;
		flex-direction: column;
		gap: 12px;
	}
</style>

<style>	
	main {
		padding: 16px;
		& > div {
			display: grid;
			max-width: 1500px;
			column-gap: 16px;
			row-gap: 12px;
			margin-top: 12px;
			margin-inline: auto;
			place-content: center;
			grid-template-columns: repeat(auto-fill, minmax(288px, auto));
		}
	}
	
	figure {
		& div {
			height: 140px;
			margin-bottom: 8px;
			overflow: hidden;
			border-radius: 16px;
			& img {
				width: 100%;
			}
		}
	}

	.pizza-information {
		display: grid;
		grid-template-columns: auto auto;
		justify-content: space-between;
		row-gap: 4px;
		& .information--important {
			font-size: 1.25rem;
			font-weight: bold;
		}
	}

	.buttons-column {
		display: flex;
		flex-direction: column;
		margin-top: auto;
		gap: 12px;
	}
</style>