---
import { SignUpForm } from '@/components/security/SignUpForm'
import FormLayout from '@/layouts/FormLayout.astro'
---
<FormLayout
   title='Sign Up'
   h1Text='Create your account'
>
   <p>Have an account? <a href='/client/login'>Log in now</a></p>
   <SignUpForm client:load />
</FormLayout>