:root {
   --neutral-900: #2B0F00;
   --neutral-800: #331D11;
   --neutral-700: #38291C;
   --neutral-600: #584F3D;
   --neutral-500: #756E5C;
   --neutral-400: #979488;
   --neutral-300: #C7C6C1;
   --neutral-200: #EDECE8;
   --neutral-100: #FBFBF9;
   --neutral-000: #FFFFFF;

   --primary-700: #341402;
   --primary-600: #682500;
   --primary-500: #A34400;
   --primary-400: #ED7200;
   --primary-300: #F6A171;
   --primary-200: #FAD8C0;
   --primary-100: #FCEAE3;
}

@media (prefers-color-scheme: dark) {
   :root {
      --neutral-900: #FFFFFF;
      --neutral-800: #FBFBF9;
      --neutral-700: #EDECE8;
      --neutral-600: #C7C6C1;
      --neutral-500: #979488;
      --neutral-400: #756E5C;
      --neutral-300: #584F3D;
      --neutral-200: #38291C;
      --neutral-100: #331D11;
      --neutral-000: #2B0F00;
      
      --primary-700: #FCEAE3;
      --primary-600: #FAD8C0;
      --primary-500: #F6A171;
      --primary-400: #ED7200;
      --primary-300: #A34400;
      --primary-200: #682500;
      --primary-100: #341402;
   }
}

*,
*::before,
*::after {
   box-sizing: border-box;
} 

* {
   margin: 0;
   padding: 0;
}

html {
   -moz-text-size-adjust: none;
   -webkit-text-size-adjust: none;
   text-size-adjust: none;
   font-family: system-ui, sans-serif;
   color-scheme: light dark;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
   margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
   list-style: none;
}

body {
   min-height: 100vh;
   line-height: 1.5;
}

h1, h2, h3, h4,
button, input, label {
   line-height: 1.1;
}

h1, h2,
h3, h4 {
   text-wrap: balance;
}

button {
   cursor: pointer;
   background-color: transparent;
   border: none;
}

a {
   text-decoration: none;
}

a:not([class]) {
   text-decoration-skip-ink: auto;
   color: currentColor;
}

img,
picture {
   max-width: 100%;
   display: block;
}

img {
   height: auto;
   vertical-align: middle;
   font-style: italic;
   background-repeat: no-repeat;
   background-size: cover;
   shape-margin: 0.75rem;
}

input, button,
textarea, select {
   font: inherit;
}

textarea:not([rows]) {
   min-height: 10em;
}

:target {
   scroll-margin-block: 5ex;
}

body:has(dialog[open]) {
   overflow: hidden;
}

.primary--button {
   height: 36px;
   border: none;
   border-radius: 8px;
   font-size: 1rem;
   font-weight: 640;
   line-height: 1.5rem;
   color: var(--neutral-000);
   background-color: var(--primary-500);
}

.secondary--button {
   height: 36px;
   border: none;
   padding-block: 4px;
   border-radius: 8px;
   font-size: 1rem;
   font-weight: 640;
   line-height: 1.5rem;
   text-align: center;
   color: var(--neutral-000);
   background-color: var(--neutral-900);
}

.humbleicons {
   width: 24px;
   height: 24px;
   color: var(--neutral-900);
}

#no-display {
   display: none;
}