.add-cart {
   background-color: #97394A;
   color: #FFF;
}

.button-styles {
   border-radius: 4px;
   border: 1px solid #000;
   box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
   padding: 8px 12px;
   cursor: pointer;
}

.container {
   border-radius: 4px;
   border: 1px solid #000;
   box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
   padding: 8px 12px;
}

#no-display {
   display: none;
}