& .img-container {
   position: relative;
   
   & img {
      width: 100%;
      height: 100%;
      border-radius: 16px;
   }

   & span {
      position: absolute;
      bottom: 8px;
      left: 8px;
      pointer-events: none;
      width: 36px;
      height: 36px;
      border-radius: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--background);
      transition: opacity 400ms ease-in-out 160ms;
   }

   & figcaption {
      position: absolute;
      bottom: 0;
      left: 0;
      pointer-events: none;
      width: 100%;
      height: 100%;
      transition: 500ms ease-in-out;
      
      & p {
         position: absolute;
         bottom: 12px;
         left: 8px;
         padding-right: 8px;
         pointer-events: fill;
         color: transparent;
         transition: color 300ms ease-in;

         &:hover {
            color: currentcolor;
            transition: color 600ms ease-in;
         }
      }

      &:has(p:hover) {
         background-color: #1C0C0280;
         transition: background-color 800ms ease-in-out;

         & + span {
            opacity: 0;
            transition: opacity 200ms ease-in;
         }
      }
   }
}