.card-container {
   width: 100%;
   padding: 24px;
   border-radius: 24px;
   border: 1px solid var(--outline-light);
   color: var(--text-color);
   box-shadow: var(--surface-40) 0 4px 10px -4px;

   & h3 {
      font-size: 1.25rem;
      line-height: 1.5rem;
      font-weight: 500;
   }
   
   & p {
      font-size: 1rem;
      line-height: 1.25rem;
   }
}