.form {
   display: flex;
   gap: 24px;
   width: 100%;
   & .form__customize {
      width: 320px;
      flex-grow: 1;
      flex-shrink: 0;
      & img {
         max-width: 100%;
         height: auto;
      }
   }
}
