body:has(.dialog-container[open]) {
   overflow-y: hidden;
}

.dialog-container {
   width: 100%;
   max-width: 640px;
   min-height: 100vh;
   border: none;
   background-color: var(--background);
   
   &:not([open]) {
      opacity: 0;
   }

   @media (prefers-reduced-motion: no-preference) {
      &.left {
         animation: slide-vanish-left 480ms ease-in-out;
      
         &[open] {
            animation: slide-in-left 404ms ease-in;

            @media (width < 520px) {
               animation: slide-in-left 340ms ease-in;
            }
         }
      }
   }

   &.right {
      margin-left: auto;
   }

   @media (prefers-reduced-motion: no-preference) {
      &.right {
         animation: slide-vanish-right 480ms ease-in-out;
         
         &[open] {
            animation: slide-in-right 404ms ease-in;

            @media (width < 520px) {
               animation: slide-in-right 340ms ease-in;
            }
         }
      }
   }   

   &::backdrop {
      opacity: 0.1;
      background-color: var(--state-layer-color);
   }

   & nav {
      display: flex;
      width: 100%;
      justify-content: end;
      gap: 16px;
      position: sticky;
      top: 0;
      z-index: 99999;

      & button {
         background-color: transparent;
         height: 24px;
         color: var(--text-color);
      
         &:hover {
            color: var(--primary-interaction);
         }
      
         &:focus-within {
            color: var(--primary-interaction);
            outline: 1px solid var(--outline);
         }
      }
   }

   & nav:has(p) {
      justify-content: start;
      margin-left: auto;
   }
}

@keyframes slide-in-left {
   0% {
      display: block;
      transform: translateX(-100%);
   }
}

@keyframes slide-vanish-left {
   from {
      display: block;
      opacity: 1;
   }
   
   to {
      display: none;
      opacity: 0;
      transform: translateX(-100%);
   }
}


@keyframes slide-in-right {
   0% {
      transform: translateX(100%);
   }
}

@keyframes slide-vanish-right {
   from {
      display: block;
      opacity: 1;
   }

   to {
      display: none;
      opacity: 0;
      transform: translateX(100%);
   }
}
