name: Test frontend workflow

on:
   push:
      paths: [frontend/**, .github/workflows/frontend_workflow.yml, '!**.md', '!**.MD']
      branches:
         - main 

concurrency:
   group: ${{ github.workflow }}-${{ github.ref }}
   cancel-in-progress: true

jobs:
   test:
      runs-on: ubuntu-22.04
      defaults:
         run:
            working-directory: frontend
      steps:
         - uses: actions/checkout@v4
           with:
            sparse-checkout: frontend
            fetch-depth: 0
         - uses: pnpm/action-setup@v3
           with:
            version: 9
         - uses: actions/setup-node@v4
           with:
            node-version: 20
            cache: 'pnpm'
            cache-dependency-path: frontend/pnpm-lock.yaml
         - name: Install dependencies
           run: pnpm install --frozen-lockfile
         - name: Test project
           run: pnpm run test
   
   e2e-playwright:
      runs-on: ubuntu-22.04
      defaults:
         run:
            working-directory: frontend
      steps:
         - uses: actions/checkout@v4
           with:
            sparse-checkout: frontend
            fetch-depth: 0
         - uses: pnpm/action-setup@v3
           with:
            version: 9
         - uses: actions/setup-node@v4
           with:
            node-version: 20
            cache: 'pnpm'
            cache-dependency-path: frontend/pnpm-lock.yaml
         - name: Install dependencies
           run: pnpm install --frozen-lockfile
         - name: Install Playwright Browsers
           run: pnpm exec playwright install --with-deps
         - name: Build application
           run: pnpm run build
         - name: Initialize e2e tests
           run: (pnpm run preview &) && (pnpm run e2e-express &) && pnpm run e2e:ci
         - uses: actions/upload-artifact@v4
           if: always()
           with:
             name: playwright-report
             path: playwright-report/
             retention-days: 30

   build__and__deploy:
      needs: [test, e2e-playwright]
      runs-on: ubuntu-22.04
      defaults:
         run:
            working-directory: frontend
      steps:
         - uses: actions/checkout@v4
           with:
            sparse-checkout: frontend
            fetch-depth: 0
         - uses: pnpm/action-setup@v3
           with:
            version: 9
         - uses: actions/setup-node@v4
           with:
            node-version: 20
            cache: 'pnpm'
            cache-dependency-path: frontend/pnpm-lock.yaml
         - name: Install dependencies
           run: pnpm install --frozen-lockfile
         - name: Build application
           run: pnpm run build           
           env: 
            PUBLIC_URL: ${{ secrets.PUBLIC_URL }}
            PRIVATE_URL: ${{ secrets.PRIVATE_URL }}
         - name: Build image
           run: docker build -t diegoj4v/pizza-client .
         - name: Login to Docker Hub
           uses: docker/login-action@v3
           with:
            username: diegoj4v
            password: ${{ secrets.DOCKERHUB_TOKEN }}
         - name: Push image to docker hub
           run: docker push diegoj4v/pizza-client:$(git rev-parse --short ${{ github.sha }})