name: Publish pizza ingredient image

on:
   push:
      paths: [backend/pizza-ingredient/**, .github/workflows/pizza_ingredient_workflow.yaml, '!**.md', '!**.MD']
      branches:
         - main 

concurrency:
   group: ${{ github.workflow }}-${{ github.ref }}
   cancel-in-progress: true

permissions:
   id-token: write

jobs:
   test__code:
      runs-on: ubuntu-22.04
      defaults:
         run:
            working-directory: backend/pizza-ingredient
      steps:
         - uses: actions/checkout@v4
           with:
            sparse-checkout: backend/pizza-ingredient
            fetch-depth: 0
         - uses: actions/setup-java@v4
           with:
            distribution: 'temurin'
            java-version: '21'
         - name: Install avifenc package
           run: sudo apt install libavif-bin
         - name: Initialize test
           run: ./mvnw clean test
           env:
              BUCKET_ACCESSKEYID: ${{ secrets.BUCKET_ACCESSKEYID }}
              BUCKET_SECRETACCESSKEY: ${{ secrets.BUCKET_SECRETACCESSKEY }}
              BUCKET_NAME: ${{ secrets.BUCKET_NAME }}

   build__and__push__image:
      needs: [test__code]
      runs-on: ubuntu-22.04
      permissions: 
         contents: write
      defaults:
         run:
            working-directory: backend/pizza-ingredient
      steps:
         - uses: actions/checkout@v4
           with:
            sparse-checkout: backend/pizza-ingredient
            fetch-depth: 0
         - name: Build image
           run: docker build -t diegoj4v/pizza-ingredient .
         - name: Login to Docker Hub
           uses: docker/login-action@v3
           with:
            username: diegoj4v
            password: ${{ secrets.DOCKERHUB_TOKEN }}
         - name: Push image to docker hub
           run: | 
            docker tag diegoj4v/pizza-ingredient diegoj4v/pizza-ingredient:$(git rev-parse --short ${{ github.sha }})
            docker push diegoj4v/pizza-ingredient:$(git rev-parse --short ${{ github.sha }})

   login__and__update__deployment: 
      needs: [build__and__push__image]
      runs-on: ubuntu-22.04
      permissions:
         id-token: write
         contents: read
      defaults:
         run:
            working-directory: k8s
      steps:
         - uses: actions/checkout@v4
           with:
            sparse-checkout: k8s
            fetch-depth: 0
         - id: 'auth'
           name: 'Obtain access token by using workload identity federation'
           uses: 'google-github-actions/auth@v2'
           with:
            workload_identity_provider: ${{ secrets.WIP }}
            service_account: ${{ secrets.SERVICE_EMAIL }}
         - name: Connect to GKE
           uses: google-github-actions/get-gke-credentials@v2
           with:
            cluster_name: pizza-cluster
            location: us-west2
         - name: Update deployment image
           run: kubectl set image deployment/pizza-ingredient pizza-ingredient=diegoj4v/pizza-ingredient:$(git rev-parse --short ${{ github.sha }})
