name: Publish pizza ingredient image

on:
   push:
      paths: [backend/pizza-ingredient/**, .github/workflows/pizza_ingredient_workflow.yaml, '!**.md', '!**.MD']
      branches:
         - main 

concurrency:
   group: ${{ github.workflow }}-${{ github.ref }}
   cancel-in-progress: true

permissions:
   id-token: write

jobs:
   test__and__build__image:
      runs-on: ubuntu-22.04
      defaults:
         run:
            working-directory: backend/pizza-ingredient
      steps:
         - uses: actions/checkout@v4
           with:
            sparse-checkout: backend/pizza-ingredient
            fetch-depth: 0
         - uses: actions/setup-java@v4
           with:
            distribution: 'temurin'
            java-version: '21'
         - name: Test and publish image
           run: ./mvnw spring-boot:build-image -Ddocker-password=${{ secrets.DOCKERHUB_TOKEN }} -Dgit-hash=$(git rev-parse --short ${{ github.sha }})
           env:
              BUCKET_ACCESSKEYID: ${{ secrets.BUCKET_ACCESSKEYID }}
              BUCKET_SECRETACCESSKEY: ${{ secrets.BUCKET_SECRETACCESSKEY }}
              BUCKET_BUCKET: ${{ secrets.BUCKET_BUCKET }}

   login__and__update__deployment: 
      needs: [test__and__build__image]
      runs-on: ubuntu-22.04
      permissions:
         id-token: write
         contents: read
      defaults:
         run:
            working-directory: k8s
      steps:
         - uses: actions/checkout@v4
           with:
            sparse-checkout: k8s
            fetch-depth: 0
         - id: 'auth'
           name: 'Obtain access token by using workload identity federation'
           uses: 'google-github-actions/auth@v2'
           with:
            workload_identity_provider: ${{ secrets.WIP }}
            service_account: ${{ secrets.SERVICE_EMAIL }}
         - name: Connect to GKE
           uses: google-github-actions/get-gke-credentials@v2
           with:
            cluster_name: pizza-cluster
            location: us-west2
         - name: Update deployment image
           run: kubectl set image deployment/pizza-ingredient pizza-ingredient=diegoj4v/pizza-ingredient:$(git rev-parse --short ${{ github.sha }})